.App {
  text-align: center;
}

.homepage{
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.western-page{
  background-color: #D0A36C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.western-title{
  color: #7D4F17 !important;
}

.polaroid-card {
  width: 250px; /* Adjust size */
  height: 300px; /* More Polaroid-like proportions */
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: 10px solid white; /* White border for Polaroid effect */
}

.polaroid-body {
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Moves text lower */
  align-items: center;
  padding-bottom: 15px; /* Extra spacing at bottom */
}

.card-title.polaroid-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #7D4F17;
  margin-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-container {
  width: 100%;
  padding-top: 100%; /* Makes the container a perfect square */
  position: relative;
  overflow: hidden;
}

.cropped-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the square */
}

.square-img-container {
  width: 100px; /* Adjust size as needed */
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the square */
  border-radius: 8px; /* Optional: for rounded corners */
}

.text-container {
  flex: 1; /* Ensures text fills remaining space */
  padding-left: 15px;
}


.custom-border {
  border: 10px solid #CB3B67; /* Pink border */
  border-radius: 10px; /* Optional: Rounded corners */
}

.homepage-title{
  color: #CB3B67;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
